/* Selection is so the player cant select text.*/
::selection {
  color: none;
  background: none;
}

/* It is the same as before but for firefox.*/
::-moz-selection {
  color: none;
  background: none;
}

a:hover {
  text-decoration: none;
}
/*========================Fonts========================*/
@font-face {
  font-family: asianFont;
  src: url("../font/navbar/Moyko.ttf");
}

@font-face {
  font-family: headerFont;
  src: url(../font/OpenSansCondensed-Bold.ttf);
}

@font-face {
  font-family: cardBodyFont;
  src: url(../font/OpenSansCondensed-LightItalic.ttf);
}

@font-face {
  font-family: cardAddFont;
  src: url(../font/OpenSansCondensed-Light.ttf);
}

/*========================Colors========================*/
:root {
  --headerColor: rgba(0, 0, 0, 0.945);
  --headerActionColor: rgb(0, 0, 0);
  --collapseColor: rgba(0, 0, 0, 0.8);
  --cardColor: rgba(0, 0, 0, 0.445);
  --blue: #00b;
}

#menu{
  /* TODO Margin social bar */
  margin-top: 135em;
}

/*========================Titre tu menu========================*/
#titre {
  font-family: asianFont;
  color: white;
  text-shadow: 1.5px 1.5px 2px black;
}

/*========================The container========================*/
#foodContainer {
  max-width: 70%;
}

/*========================Accordion header========================*/
#foodContainer .card-header {
  background-color: var(--headerColor);
  cursor: pointer;
  padding: 1em;
  border: none;
}
#foodContainer .card-header h5 {
  font-family: headerFont;
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  text-align: left;
}

#foodContainer .card-header:hover {
  background-color: var(--headerActionColor);
}

#foodContainer .card-header:active {
  display: block;
  background-color: var(--headerActionColor);
}

#collapseSoupes,
#collapseEntrees,
#collapseSalades,
#collapseFruitsDeMer,
#collapseCaris,
#collapseSautes,
#collapseRizFrit,
#collapseNouilles,
#collapseVegetarien,
#collapseDesserts {
  background-color: var(--collapseColor);
}

/*========================Cards========================*/
#foodCard {
  margin: 0.5em;
  max-width: 12em;
  padding: 0.2em;
  color: white;
  background-color: var(--cardColor);
}
#foodContainer .card {
  border-color: black;
}
#foodCard .card-body {
  padding: 1em;
}
#foodCard .card-title {
  font-size: 1.3em;
  font-family: headerFont;
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
}
#foodCard .card-prix {
  font-size: 1.2em;
  font-family: headerFont;
  color: #df5e25;
}
#foodCard .card-text {
  font-size: 1.2em;
  font-family: cardBodyFont;
}

#foodCard .ajoutButton {
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgb(238, 98, 4);
  border: none;
  outline: none;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.452);
  border-radius: 100px;
}
#foodCard .ajoutButton span {
  min-width: 3.5em;
  display: none;
  font-family: headerfont;
}

#foodCard .ajoutButton:hover span {
  border: none;
  display: block;
}
#foodCard .ajoutButton:hover {
  transition: width 0.35s ease-in-out;
  width: 6em;
}
#foodCard .ajoutButton:hover i {
  display: none;
}

#foodCard .ajoutButton:active {
  border: none;
  background-color: rgb(255, 115, 22);
  transform: translateY(2px) translateX(1px);
}
