/*========================Fonts========================*/
@font-face {
  font-family: "asianFont";
  src: url("../font/navbar/Moyko.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: itemTitle;
  src: url(../font/OpenSansCondensed-Bold.ttf);
}

/*========================Background Cover========================*/
main {
  background: url("../img/food-pictures/soupe1.jpg") no-repeat center center
    fixed;
  filter: brightness(90%);
  background-size: cover;
}

/*========================Menu Title========================*/
#MenuTitre {
  padding-top: 5em;
  padding-bottom: 2em;
  text-align: center;
}
#titre {
  margin: -240px auto 0;
  font-family: asianFont;
  font-weight: bold;
  font-size: 10em;
  color: white;
  text-shadow: 1.5px 1.5px 2px black;
}

/*========================Food Menu========================*/
a:hover{
  text-decoration: none;
}
.mb-0{
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0.em .5em;  
  text-align: left;
  outline: none;
}
.card-header{
  background-color: rgba(0, 0, 0, 0.63);
  font-weight: bold;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}
.card-header:hover{
  background-color: rgba(0, 0, 0, 0.808);
}

.card-header:active{
  display: block;
  background-color: rgba(0, 0, 0, 0.808);
}
.collapse.show{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #83838391;
}
.card{
  border: none;
  
  background-color: rgba(0, 0, 0, 0);
  
}
.card-title{
  font-size: larger;
  font-weight: 700;
  margin-bottom: 0.3em;
  
}
.card-text{
  margin-bottom: 0;
  font-weight: normal;
  font-weight: 500;
}
.card-body p:last-of-type{
  padding-bottom: .75em;
}
.card-body{
  padding: 0;
  
}
.element{
  margin: 1em;
  max-width: 15em;
  min-width: 10em;
  padding: .6em;
  color: white;
  background-color: rgba(0, 0, 0, 0.445);
  
}
.mb-4, .my-4 {
  margin-bottom: 0!important; 
}

.btn-primary{
 
  float: right;
  background-color: rgb(238, 98, 4);
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.452);
  font-size: 18px;
  
}
.btn-primary:hover{
  border: none;
  background-color: rgb(255, 115, 22);
}
.btn-primary:active{
  border: none;
  background-color: rgb(255, 115, 22);
  transform: translateY(2px) translateX(1px);
}

