/*======================== Assets ========================*/
@font-face {
  font-family: navBar;
  src: url(../font/OpenSansCondensed-Bold.ttf);
}
@font-face {
  font-family: navBarText;
  src: url(../font/OpenSansCondensed-Light.ttf);
}
@font-face {
  font-family: navBar2;
  src: url(../font/navbar/Moyko.ttf);
}

:root {
  --main-accent-color: #df5e25;

  /* #e33a36*/
}

/**========================Top Orange NavBar ========================*/
.top-nav {
  background-color: var(--main-accent-color);
  height: 2.7em;
}
.top-nav .emplacement {
  height: 2.7em;
  display: flex;
  justify-content: left;
  align-items: center;
  float: left;
}
.top-nav .emplacement img {
  height: 1.7em;
  margin-left: 2em;
  filter: invert(100%);
}
.top-nav .emplacement a {
  margin-left: 0.2em;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: navBar;
  text-transform: uppercase;
}

.top-nav .menu-langues {
  height: 2.7em;
  margin-right: 2em;
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
}

.top-nav .menu-langues .langues {
  margin-left: 1.5em;
}

.top-nav .menu-langues span {
  color: white;
  font-size: 1.3em;
  font-family: navBar;
  text-transform: uppercase;
}
.top-nav .menu-langues a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: navBar;
  text-transform: uppercase;
}

/**======================== NavBar ========================*/
.navbar-brand{
  font-family: navBar2;
  font-size: 2.8em;
}
nav {
  background-color: black;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color:white;
}
.navbar-brand img  {
  filter: invert(100%);
}
.nav-link{
  font-size: 1.5em;
  color: white;
}
.navbar-text{
  font-size: 1.5em;
  color: white;
}

.nav-link{
  font-family: navBarText;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.nav-link:hover {
  transform: scale(1.1);
  color: var(--main-accent-color);
}

.navbar-toggler{
  color: white;
}
.collapse.show {
  background-color: none;
}



/**======================== Media Queries ========================*/
@media screen and (max-width: 900px) {
  .top-nav {
    display: none;
  }
}



