/*======================== Assets ========================*/
@font-face {
  font-family: navBar;
  src: url(../font/OpenSansCondensed-Bold.ttf);
}
@font-face {
  font-family: navBarText;
  src: url(../font/OpenSansCondensed-Light.ttf);
}
@font-face {
  font-family: navBar2;
  src: url(../font/navbar/Moyko.ttf);
}

:root {
  --main-accent-color: #df5e25;
}

/**========================Top Orange NavBar ========================*/
.top-nav,
.top-nav .row {
  background-color: var(--main-accent-color);
  height: 3em;
}
.top-nav img{
  height: 1.7em;
  filter: invert(100%);
}
.top-nav a,
.top-nav span {
  text-decoration: none;
  font-size: 1.3em;
  font-family: navBar;
  color:white;
}

.top-nav a:hover{
  transform: scale(1.1);
}
/**======================== NavBar ========================*/
.navbar-brand{
  font-family: navBar2;
  font-size: 2.8em;
}
nav {
  background-color: black;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color:white;
}

.nav-link,
.navbar-text{
  font-size: 1.2em;
  font-family: navBarText;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.nav-link:hover {
  transform: scale(1.1);
  color: var(--main-accent-color) !important;
}

.collapse.show {
  background-color: transparent !important;
}





